
  <h4 style="margin-top: 150px; text-align: center; margin-left: -20px;">コメント一覧</h4>
  <div class="comments">
    <% comments.each do |comment| %>
      <% if comment.id.present? %>
        <div class="comments__index">
          <p><%= "#{comment.user.name}さん"%></p>
          <p><%= comment.content %></p>
      <% end %>
      <% if comment.user == current_user %>
          <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
        </div>
      <% end %>
    <% end %>
    </div>