
  <h4>コメント一覧</h4>
  <div class="comments", style="overflow: scroll visible;">
    <% comments.each do |comment| %>
      <% if comment.id.present? %>
        
            <p><%= "#{comment.user.name}さん"%></p>
            <p><%= comment.content %></p>
        
      <% end %>
      <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
    <% end %>
    </div>
    <% end %>
