/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 header {
  z-index: 9999;
  height:100px;
	background-color: white;
	width: 100%;
	position:fixed;
  top:0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

body {
  background-color: whitesmoke;
}


a {
  color: #000000;
}
a:hover {
  color: grey;
}

div#button {
  text-align: right;
  margin-top: 30px;
  margin-right: 250px;
}

.fa-compact-disc:before {
  content: "\f51f";
  margin-left: 30px;
}

.fa-user-circle:before {
  content: "\f2bd";
  margin-left: 30px;
}

ul {
  text-align: center;
  margin-top: 30px;
}