/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 header {
  z-index: 10;
  height:100px;
	background-color: white;
	width: 100%;
	position:fixed;
  top:0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

body {
  background-color: whitesmoke;
}

a {
  color: #000000;
}
a:hover {
  color: grey;
}
/* ヘッダー部分の遷移ボタン */
div#button {
  text-align: right;
  margin-top: 15px;
  margin-right: 250px;
  z-index: 20;
}

.fa-compact-disc:before {
  content: "\f51f";
  margin-left: 30px;
}

.fa-user-circle:before {
  content: "\f2bd";
  margin-left: 30px;
}

ul {
  text-align: center;
  margin-top: 30px;
}

p.alert.alert-notice {
  text-align: center;
  margin-top: -25px;
  margin-top: -25px;
  margin: auto;
  margin-top: -42px;
  width: 350px;
}

.fa-arrow-circle-up:hover{
  background-color :none;
}

#back-to-top a:hover{
  background-color :none;
  color:black;
}

h4 {
  margin-left: 180px;
  z-index: 15;
  margin-top: 15px;
  font-weight: bold;
}

.cp_tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.cp_tooltip .cp_tooltiptext {
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
	visibility: hidden;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	text-align: center;
	opacity: 0;
	color: black;
	border-radius: 6px;
  background-color: rgb(233, 227, 220);
  margin-bottom: 5px;
}
.cp_tooltip .cp_tooltiptext::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
}
.cp_tooltip:hover .cp_tooltiptext {
	visibility: visible;
	opacity: 1;
}
