.show-text {
  margin-top: 200px;
}

.card__comments {
  margin-top: 40px; 
  background: #ffffff;
  padding: 5px;
  /* margin: 130px auto; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); 
  height: 580px;
  border-radius: 1%;
  width: 30rem;
  text-align: center;
}
.comments {
  margin: 0 auto;
  margin-top: 20px;
  overflow: auto;
  height: 300px;
  border: 1px solid #aaa;
  width: 600px;
}

.comments__index {
  width: 600px;
  height: 100px;
  margin: 0 auto;
  background: white;
}

a.btn.btn-default.comment {
  margin-left: 690px;
}

.box {
  background-color: white;
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid #aaa;
  width: 220px;
}

.line-break {
  word-wrap: break-word;
}