.card {
  background: #ffffff;
  width: 800px;
  padding: 10px;
  text-align: center;
  margin: 130px auto;
  padding: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); 
  height: 650px;
}

.card__post {
  margin-top: 150px;
  background: #ffffff;
  padding: 5px;
  /* margin: 130px auto; */
  padding: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); 
  height: 600px;
}

.card-header {
  padding: 2rem;
  margin-bottom: 0;
  background-color: rgba(241, 237, 237, 0.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
  padding: 0.9rem;
}

.card-footer__index{
  background-color: rgba(241, 237, 237, 0.03);
  border-top: 1.5px solid rgba(0,0,0,.125);
}

#audio__post{
  width:245px;
  
}

div#post_date {
  font-size: 12px;
  margin-top: 87px;
  text-align: right;
}

a:link {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: grey;
}